<Gigatrees>

<Setup> 

 <DropHeader> <![CDATA[ 
    <!-- D3 Fan Charts --> 
    <link rel="stylesheet" href="%PluginsPath%d3fancharts/d3fancharts.css">
 ]]>
 </DropHeader>
 
 <DropFooter> <![CDATA[ 
    <!-- D3 Fan Charts --> 
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="%PluginsPath%d3fancharts/d3fancharts.js"></script>
 ]]>
 </DropFooter>
 
</Setup> 
 
</Gigatrees>